files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_set_permissions.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      chown -R webapp:webapp /var/app/staging/storage
      chmod -R 775 /var/app/staging/storage
      chown -R webapp:webapp /var/app/current/storage
      chmod -R 775 /var/app/current/storage

container_commands:
  01_clear_cache:
    command: |
      cd /var/app/current
      php artisan cache:clear
      php artisan config:clear
      php artisan route:clear
      php artisan view:clear